@{
    ViewData["Title"] = "Панель адміністратора";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>Всього користувачів у системі: @ViewBag.TotalUsers</p>
<p>Всього @ViewBag.TotalDocuments документів у @ViewBag.TotalCategories категоріях</p>

